<app-navbar></app-navbar>

<div class="container-fluid mt-4">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-2 bg-secondary p-3 text-white">
      <!-- <h5 class="text-light text-center">Brands</h5> -->
      <!-- <ul class="list-group mb-4">
        <li *ngFor="let brand of brands" class="list-group-item bg-transparent border-0 text-light p-1">
          <a href="#" class="text-light text-decoration-none">{{ brand.name }}</a>
        </li>
      </ul> -->

      <h5 class="text-light text-center">Categories</h5>
      <ul class="list-group">
        <li *ngFor="let category of categories" class="list-group-item bg-transparent border-0 text-light p-1">
          <a href="#" class="text-light text-decoration-none">{{ category.name }}</a>
        </li>
      </ul>
    </div>

    <!-- Product Cards -->
    <div class="col-md-10">
      <div class="row">

         <app-products [products]="products"></app-products>
        
      </div>
    </div>
  </div>
</div>
