<app-navbar></app-navbar>
<section class="home section" id="home">
  <img src="assets/img/Abstract Black and White Acrylic Art Glossy Acrylic Art Modern Wall Art Aesthetic Minimal Soothing Design.jpg" alt="image" class="home__bg">
  <div class="home__shadow"></div>

  <div class="home__container container grid">
     <div class="home__data">
        <h1 class="home__title">
           Big girls need <br> big diamonds
        </h1>


        
        <a href="/products" class="button">Zgjidh bizhuterine</a>

  
     </div>

     <div class="home__image">
        <img src="../../../assets/img/kryesorja.png" alt="image" class="home__img">
     </div>

     <footer class="home__footer">
        <div class="home__location">
           <i class="ri-map-pin-line"></i>
           <span>Rruga e Durresit <br> Tirane</span>
        </div>

        <div class="home__social">
           <a href="https://www.facebook.com/" target="_blank">
              <i class="ri-facebook-circle-line"></i>
           </a>

           <a href="https://www.instagram.com/" target="_blank">
              <i class="ri-instagram-line"></i>
           </a>

           <a href="https://www.youtube.com/" target="_blank">
              <i class="ri-youtube-line"></i>
           </a>
        </div>
     </footer>
  </div>
</section>

<!--==================== Koleksioni i ri ====================-->
<section class="new section" id="new">
  <h2 class="section__title">Koleksioni i Ri</h2>

  <div class="new__container container grid">
     <div class="new__content grid">
        <article class="new__card">
           <div class="new__data">
              <h2 class="new__title">Divine Necklace</h2>
              <p class="new__description">
                 Varese elegante tennis qe i
                 pershtatet eventeve me speciale.
              </p>
           </div>

           <img src="../../../assets/img/kolek ri1.jpg" alt="image" class="new__img">
        </article>

        <article class="new__card">
           <div class="new__data">
              <h2 class="new__title">Galaxy Ring</h2>
              <p class="new__description">
                 Nje unaze perfekte per gruan
                 tende te jetes.
              </p>
           </div>

           <img src="../../../assets/img/kolek-ri-2.jpg" alt="image" class="new__img"> 
        </article>

        <article class="new__card">
           <div class="new__data">
              <h2 class="new__title">Glam Earrings</h2>
              <p class="new__description">
                 Vathet vezullues qe do t'iu
                 dhurojne komplimente kudo.

              </p>
           </div>

           <img src="../../../assets/img/kolek ri 3.jpg" alt="image" class="new__img">
        </article>
     </div>

     <a href="/display-all" class="new__button button">Shiko me shume</a>
  </div>
</section>

<!--==================== Rreth nesh ====================-->
<section class="about section" id="about">
  <div class="about__container container grid">
     <div class="about__data">
        <h2 class="section__title">Rreth nesh</h2>

        <p class="about__description">
           Hyni në një mbretëri ku çdo pjesë tregon një histori, 
           të punuar me saktësi dhe pasion nga artizanë të aftë. 
           Koleksioni ynë krenohet me një sërë bizhuterish verbuese, 
           nga unazat e fejesës me dizajn të ndërlikuar që kapin thelbin 
           e dashurisë së përjetshme deri te gjerdanët e deklaruar që
           lartësojnë pa mundim çdo event.
        </p>

        

      
     </div>

     <img src="../../../assets/img/rreth nesh.jpg" alt="image" class="about__img">
  </div>
</section>


<!--==================== Të preferuarat ====================-->
<section class="favorite section" id="favorite">
  <h2 class="section__title">Të preferuarat</h2>

  <div class="favorite__container container grid">
    <article class="favorite__card" *ngFor="let p of favorites;trackBy: trackByProductId">
      <img [src]="'assets/img/' + p.product_image" [alt]="p.product_title" class="favorite__img">

      <div class="favorite__data">
        <h2 class="favorite__title">{{ p.product_title }}</h2>
        <span class="favorite__subtitle">{{ p.product_description }}</span>
        <h3 class="favorite__price">€{{ p.product_price }}</h3>
      </div>

      <button class="favorite__button button" (click)="addToCart(p.product_id)">
        <i class="ri-add-line"></i>
      </button>
    </article>
  </div>
</section>



<!--====================   Na vizitoni ====================-->
<section class="visit section" id="visit">
  <div class="visit__container">
     <img src="assets/img/Jewelry store interior design.jpg" alt="image" class="visit__bg">
     <div class="visit__shadow"></div>
     
     <div class="visit__content container grid">
        <div class="visit__data">
           <h2 class="section__title">Na vizitoni</h2>
           <p class="visit__description">
              Zbulo nje bote tjeter te aksesoreve.
              Ne ju mirepresim.
           </p>

           <a href="https://www.google.com/maps/place/Rruga+e+Durr%C3%ABsit,+Tirana/data=!4m2!3m1!1s0x13503108e63a6ae5:0xe9d0ad8c8577203d?sa=X&ved=2ahUKEwjl7aS7zPODAxUjSfEDHUppB2IQ8gF6BAgPEAA" class="button">Shiko Vendodhjen</a>
        </div>
     </div>
  </div>
</section>


<!--==================== FOOTER ====================-->
<footer class="footer">
  <div class="footer__container container grid">
     <div>
        <a href="#" class="footer__logo">Nova</a>
        <p class="footer__description">
           Frost <br> yourself.
        </p>
     </div>

     <div class="footer__content grid">
        <div>
           <h3 class="footer__title">Adresa</h3>

           <ul class="footer__list">
              <li>
                 <address class="footer__info"> Tirane <br> Albania </address>
              </li>
              
              <li>
                 <address class="footer__info">9AM - 11PM</address>
              </li>
           </ul>
        </div>

        <div>
           <h3 class="footer__title">Na kontakto</h3>

           <ul class="footer__list">
              <li>
                 <address class="footer__info"><a href = "mailto: nova@email.com">nova&#64;email.com</a></address>
              </li>

              <li>
                 <address class="footer__info">+355 69 456 789</address>
              </li>
           </ul>
        </div>

        <div>
           <h3 class="footer__title">Na ndiq</h3>

           <div class="footer__social">
              <a href="https://www.facebook.com/" target="_blank">
                 <i class="ri-facebook-circle-line"></i>
              </a>

              <a href="https://www.instagram.com/" target="_blank">
                 <i class="ri-instagram-line"></i>
              </a>

              <a href="https://www.youtube.com/" target="_blank">
                 <i class="ri-youtube-line"></i>
              </a>
           </div>
        </div>
     </div>

  
     
  </div>

 
</footer>
     

