<div class="cart-container">
  <h2>Your Cart</h2>

  <div *ngIf="cartItems.length === 0">
    <p>Your cart is empty.</p>
  </div>

  <div *ngFor="let item of cartItems" class="cart-item">
<img
  [src]="getImageUrl(item.product_image)"
  width="100"
/>


    <div class="info">
      <h4>{{ item.product_title }}</h4>
      <p>Price: ${{ item.product_price }}</p>
      <p>Quantity: {{ item.quantity }}</p>
    </div>
  </div>

  <div class="cart-summary" *ngIf="cartItems.length > 0">
    <hr>
    <p><strong>Total Items:</strong> {{ itemCount }}</p>
    <p><strong>Total Price:</strong> ${{ totalPrice }}</p>
  </div>

  <div *ngIf="cartItems.length > 0" class="checkout-box">
  <p>Total: {{ totalPrice | currency:'EUR' }}</p>
  <button (click)="checkout()">Checkout</button>
</div>


</div>
