<div class="container mt-4">
  <div class="row">
    <div *ngFor="let p of products" class="col-4 mb-4">
      <div class="product-card">
        <img [src]="'/assets/img/' + p.product_image"
             alt="{{ p.product_title }}"
             class="product-img">

        <div class="product-body">
          <h5 class="product-title">{{ p.product_title }}</h5>
          <p class="product-subtitle">Step into Comfort and Style Today</p>
          <p class="product-price">Price: {{ p.product_price }} /-</p>

          <div class="btn-group">
            <button class="btn-cart" (click)="addToCart(p.product_id)">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>